<h2> Add Profile </h2>

<form method="POST" action="/profile/add" >
    <div>
        <label>Profile Name</label>
        <input name="name" type="text" class="from-control"/>
    </div>

    <div>
        <label>Avatar</label>
        <input name="avatar" type="file" class="from-control"/>
    </div>

    

    <button type="submit" class="btn btn-primary"> Create Profile </button>
</form>