<!-- <h2>Profiles</h2>

<table>
    <tr>
        <th>Profile Name</th>
        <th>Avatar</th>

        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% profile.forEach(function(profile) { %>
    <tr>
        <td> <%= profile.name %></td>
        <td><img src="<%= profile.avatar%>" alt="profile img">  </td>
        
    </tr>
<% }) %>
</table> -->