<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMZ TV</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
  <body>
    <div class="container">
      <div class="content-container">
          <div class="featured-content"
              style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('images/bk.jpg');">
              <img class="featured-title" src="images/14.jpg" alt="">
              <p class="featured-desc">Ten-year-old Chihiro and her parents end up at an abandoned amusement park inhabited by supernatural beings. Soon, she learns that she must work to free her parents who have been turned into pigs.</p>
              <button class="featured-button">WATCH</button>
          </div>
          <div class="movie-list-container">
            <h1 class="movie-list-title">NEW RELEASES</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/1.jpg" alt="">
                        <span class="movie-list-item-title">Uncharted</span>
                        <p class="movie-list-item-desc">Treasure hunter Victor "Sully" Sullivan recruits street-smart Nathan Drake to help him recover a 500-year-old lost fortune amassed by explorer Ferdinand Magellan.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/2.jpg" alt="">
                        <span class="movie-list-item-title">The Hangover</span>
                        <p class="movie-list-item-desc">Two days before his wedding, Doug (Justin Bartha) and three friends (Bradley Cooper, Ed Helms, Zach Galifianakis) drive to Las Vegas for a wild and memorable stag party.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/3.jpg" alt="">
                        <span class="movie-list-item-title">The Hangover 2</span>
                        <p class="movie-list-item-desc">Two years after the disastrous events in Las Vegas, it is now Stu's (Ed Helms) turn to walk down the aisle. Since his bride is from Thailand, Stu decides to hold the wedding there.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/4.jpg" alt="">
                        <span class="movie-list-item-title">The Hangover 3</span>
                        <p class="movie-list-item-desc">It's been two years since the gang known as the Wolfpack narrowly escaped disaster in Bangkok. Now, Phil (Bradley Cooper), Stu (Ed Helms) and Doug (Justin Bartha) have happy lives at home -- but Alan (Zach Galifianakis) doesn't.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/5.jpg" alt="">
                        <span class="movie-list-item-title">Howls Moving Castle</span>
                        <p class="movie-list-item-desc">Sophie (Emily Mortimer) has an uneventful life at her late father's hat shop, but all that changes when she befriends wizard Howl (Christian Bale), who lives in a magical flying castle.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/6.jpg" alt="">
                        <span class="movie-list-item-title">The conjuring</span>
                        <p class="movie-list-item-desc">In 1970, paranormal investigators and demonologists Lorraine (Vera Farmiga) and Ed (Patrick Wilson) Warren are summoned to the home of Carolyn (Lili Taylor) and Roger (Ron Livingston) Perron.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/7.jpg" alt="">
                        <span class="movie-list-item-title">The conjuring 2</span>
                        <p class="movie-list-item-desc">In 1977, paranormal investigators Ed (Patrick Wilson) and Lorraine Warren come out of a self-imposed sabbatical to travel to Enfield, a borough in north London.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>
        <div class="movie-list-container">
            <h1 class="movie-list-title">Trending</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/9.jpg" alt="">
                        <span class="movie-list-item-title">My Neighbor Totoro</span>
                        <p class="movie-list-item-desc">This acclaimed animated tale by director Hayao Miyazaki follows schoolgirl Satsuke and her younger sister, Mei, as they settle into an old country house with their father and wait for their mother to recover from an illness in an area hospital.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/10.jpg" alt="">
                        <span class="movie-list-item-title">White Chicks</span>
                        <p class="movie-list-item-desc">Two FBI agent brothers, Marcus (Marlon Wayans) and Kevin Copeland (Shawn Wayans), accidentally foil a drug bust. As punishment, they are forced to escort a pair of socialites (Anne Dudek, Rochelle Aytes) to the Hamptons.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/11.jpg" alt="">
                        <span class="movie-list-item-title">The Orphan</span>
                        <p class="movie-list-item-desc">Devastated by the loss of their unborn baby, Kate (Vera Farmiga) and John (Peter Sarsgaard) decide to adopt a child. At the orphanage, both feel drawn to a little girl (Isabelle Fuhrman) named Esther, and soon the couple take their new daughter home.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/12.jpg" alt="">
                        <span class="movie-list-item-title">Conjuring The Beyond</span>
                        <p class="movie-list-item-desc">Participants in a sleep study start to go missing...</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/cars.jpg" alt="">
                        <span class="movie-list-item-title">cars</span>
                        <p class="movie-list-item-desc">In a world where the towns are peopled with cars, and even the bugs are mini motors, a young ambitious racing car called Lightning McQueen is a star.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/tit.jpg" alt="">
                        <span class="movie-list-item-title">Titanic</span>
                        <p class="movie-list-item-desc">A poor artist and a rich debutante meet and fall in love on the famously ill-fated maiden voyage of the `unsinkable' RMS Titanic in 1912.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/inc.jpg" alt="">
                        <span class="movie-list-item-title">The Incredibles</span>
                        <p class="movie-list-item-desc">Married superheroes Mr. Incredible (Craig T. Nelson) and Elastigirl (Holly Hunter) are forced to assume mundane lives as Bob and Helen Parr after all super-powered activities have been banned by the government..</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>
        <div class="movie-list-container">
            <h1 class="movie-list-title">For You</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/8.jpg" alt="">
                        <span class="movie-list-item-title">V for Vendetta</span>
                        <p class="movie-list-item-desc">Following world war, London is a police state occupied by a fascist government, and a vigilante known only as V (Hugo Weaving) uses terrorist tactics to fight the oppressors of the world in which he now lives.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/min.jpg" alt="">
                        <span class="movie-list-item-title">Minions</span>
                        <p class="movie-list-item-desc">Evolving from single-celled yellow organisms at the dawn of time, Minions live to serve, but find themselves working for a continual series of unsuccessful masters, from T. Rex to Napoleon.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/cin.jpg" alt="">
                        <span class="movie-list-item-title">Cinderella</span>
                        <p class="movie-list-item-desc">After her father unexpectedly dies, young Ella (Lily James) finds herself at the mercy of her cruel stepmother (Cate Blanchett) and stepsisters, who reduce her to scullery maid. Despite her circumstances, she refuses to despair.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/mz1.jpg" alt="">
                        <span class="movie-list-item-title">The Maze Runner</span>
                        <p class="movie-list-item-desc">Thomas (Dylan O'Brien), a teenager, arrives in a glade at the center of a giant labyrinth. Like the other youths dumped there before him, he has no memory of his previous life.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/mz2.jpg" alt="">
                        <span class="movie-list-item-title">Maze Runner: The Scorch Trial</span>
                        <p class="movie-list-item-desc">Transported to a remote fortified outpost, Thomas and his fellow teenage Gladers find themselves in trouble after uncovering a diabolical plot from the mysterious and powerful organization WCKD.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/mz3.jpg" alt="">
                        <span class="movie-list-item-title">Maze Runner: The Death Cure</span>
                        <p class="movie-list-item-desc">Thomas leads some escaped Gladers on their final and most dangerous mission yet. To save their friends, they must break into the legendary Last City, a WCKD-controlled labyrinth that may turn out to be the deadliest maze of all.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/jw1.jpg" alt="">
                        <span class="movie-list-item-title">John Wick</span>
                        <p class="movie-list-item-desc">Legendary assassin John Wick (Keanu Reeves) retired from his violent career after marrying the love of his life. Her sudden death leaves John in deep mourning.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>
        <div class="movie-list-container">
            <h1 class="movie-list-title">You actually scrolled all the way here</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/jw2.jpg" alt="">
                        <span class="movie-list-item-title">John Wick: Chapter 2</span>
                        <p class="movie-list-item-desc">Retired super-assassin John Wick's plans to resume a quiet civilian life are cut short when Italian gangster Santino D'Antonio shows up on his doorstep with a gold marker, compelling him to repay past favours. </p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/dk.jpg" alt="">
                        <span class="movie-list-item-title">The Dark Knight</span>
                        <p class="movie-list-item-desc">With the help of allies Lt. Jim Gordon (Gary Oldman) and DA Harvey Dent (Aaron Eckhart), Batman (Christian Bale) has been able to keep a tight lid on crime in Gotham City. But when a vile young criminal calling himself the Joker (Heath Ledger) suddenly throws the town into chaos.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/dkr.jpg" alt="">
                        <span class="movie-list-item-title">The Dark Knight Rises</span>
                        <p class="movie-list-item-desc">It has been eight years since Batman (Christian Bale), in collusion with Commissioner Gordon (Gary Oldman), vanished into the night. Assuming responsibility for the death of Harvey Dent, Batman sacrificed everything for what he and Gordon hoped would be the greater good. However...</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/dune.jpg" alt="">
                        <span class="movie-list-item-title">Dune</span>
                        <p class="movie-list-item-desc">A noble family becomes embroiled in a war for control over the galaxy's most valuable asset while its heir becomes troubled by visions of a dark future.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/dune 2.jpg" alt="">
                        <span class="movie-list-item-title">Dune: Part Two</span>
                        <p class="movie-list-item-desc">Paul Atreides unites with Chani and the Fremen while seeking revenge against the conspirators who destroyed his family. </p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/fc.jpg" alt="">
                        <span class="movie-list-item-title">Fight Club</span>
                        <p class="movie-list-item-desc">An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                    <div class="movie-list-item">
                        <img class="movie-list-item-img" src="images/gl.jpg"">
                        <span class="movie-list-item-title">Gladiator</span>
                        <p class="movie-list-item-desc">A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.</p>
                        <button class="movie-list-item-button">Watch</button>
                    </div>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>
    </div>
</div>
<script src="/app.js"></script>
</body>

</html>
