body {
    margin: 0;
    padding: 0;
    background-color: #212529;
    color: white;
}

#imztv {
    text-decoration: none;
    color: #F0AD4E;
    font-weight: 900;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    position: relative;
}

#signin {
    
    color: #F0AD4E;
    border-color: #F0AD4E;
    
}

#profileImg {
    height: 35px;
    width: auto;
    border-radius: 50%;
    /* border: 3px solid;
    border-color: #F0AD4E; */
}

#profileName {
    border: none;
    color: white;
}

#inEditImg {
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin-left: 15px;
}

#nameEditButton {
    color: #F0AD4E;
    border-color: #F0AD4E;
    margin-left: 15px;
}

#editProfile {
    margin-left: 15px;
}