<h1>Add Author</h1>

<form action="/movie/add" method="POST" enctype="multipart/form-data">
    <div>
      <label>Title</label>
      <input type="text" name="name" class="form-control" />
    </div>
    <div>
      <label>Poster</label>
      <input type="file" name="poster" class="form-control" /> 
    </div>
    <div>
      <label>Description</label>
      <input type="text" name="description" class="form-control" /> 
    </div>
    <br>

    <button type="submit" class="btn btn-outline-secondary">Create Author</button>
</form>