<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Detail</title>
  <style>
    
  </style>
</head>
<body class="details">

  <!-- Title section -->
  <div class="description">
    <h1><%= movie.title%></h1>
  </div>

  <!-- Video container -->
  <div class="video-container">
    <!-- Video player with autoplay and controls -->
    <video id="videoPlayer" autoplay controls>
      <source src="/trailers/<%= movie.trailer %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="card" style="width: 44rem;">
  <!-- Description section -->
  <div class="description card-title">
    <h2>Description</h2>
    <p class="card-body"><i><%= movie.description %></i></p>
  </div>

  <div class="inline">
    <form action="/">
    <button class="btn btn-outline-light">Go Back</button>&emsp;&emsp;
  </form>
    <button class="btn btn-outline-light">Watch Movie</button>
  </div>
</div>
</body>
</html>
